<div class="container">
    <div class="card mb-3">
        <img src="assets/conv-moedas-princ.jpg" class="card-img-top" height="300" alt="Conversor de Moedas">
        <div class="card-body">
        <h5 class="card-title">Conversor de Moedas</h5>
        <p class="card-text">Criando um projeto de converter moedas para uso de consumo de uma API</p>
        <p class="card-text"><small class="text-muted">Atualizado em {{ dataAtual | date:'dd/MM/yyyy HH:mm:ss'}} </small></p>
        </div>
    </div>
</div>
